@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    position: relative;
    background-color: #ffffff;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    /* position: absolute; */
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    cursor: pointer;
    overflow: hidden;
    width: 400px;
    height: 40px;
    /* background: linear-gradient(to right bottom, #323941, #061018); */
    color: black;
    transition: all 300ms ease-in-out;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.container p {
    opacity: 0.6;
}

.container h3 {
    font-weight: 600;
    font-size: 15px;
}

.upper {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    /* background: linear-gradient(to right bottom, #2999f5, #1859d1); */
}

.upper h3 svg {
    height: 16px;
    width: 16px;
    fill: white;
    margin-left: 10px;
    padding-top: 4px;
}

.lower {
    padding: 40px;
columns: 2 auto;
}

.lower h4 {
    margin-top: 40px;
    font-size: 14px;
    color: #2999f5;
}

.lower p:not(:first-child) {
    margin-top: 40px;
}

div.expand {
    height: 200px;
}

.lower_item{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
