.sectionContainerMenu{
    position: relative;
    height: 100vh;
}

.containerMenu {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    /* max-width: 0%; */
    padding: 18px 0 7px 0;
    margin: 0px auto 0px auto;
    transition-duration: 0.1s;
    transition-property: all;
    /* display: none; */
}

.containerMenu_left {
    width: 62%;

}

.containerMenu_left_logo {
    width: 100%;
    height: 100%;
    background: url('../assets/img/header_logo.svg') no-repeat center bottom;
    background-size: cover;
}

.containerMenu_left_content {
    text-align: center;
    font-size: 70%;
}

.close_icon {
    font-size: 130%;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    color: #0b77bd;
    padding-top: 18px;
}

.body_containerMenu {
    width: 85%;
    height: 250px;
    background-color: #fff;
    border-radius: 16px;
    margin: 40px auto 20px auto;
    z-index: 1;
    box-shadow: 1px 2px 17px -3px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 1px 2px 17px -3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 2px 17px -3px rgba(0, 0, 0, 0.49);
    display: flex;
}

.content_modal {
    width: 100%;
    height: 100%/4;
    color: black;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.content_element {
    border-bottom: 1px solid grey;
    padding: 18px 0;
    font-size: 13px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.content_element span {
    width: 25px;
    height: 25px;
    background-color: #0b77bd;
    border-radius: 20px;
    padding-top: 3px;
    color: #fff;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #0b77bd;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.patternMiddle{
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
}
.patternBottom{
    position: absolute;
    left: 0;
    bottom: -10px;
}

.ContainerContainerMenu{
    background: url(../assets/img/gnav_header.png) no-repeat center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    width: 100%;
    position: relative;
    z-index: 1;
}