@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    position: relative;
    background-color: #ffffff;
    background-color: #ffffff;
}

.containerModalBody {
    left: 0%;
    top: 0%;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 60px;
    color: black;
    /* transition: all 400ms ease-in-out; */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #ddd;

}

.container p {
    opacity: 0.6;
}

.container h3 {
    font-weight: 600;
    font-size: 15px;
}

.upper {
    top: 0;
    height: 40px;
    width: 100%;
    align-items: center;
}

.upper p {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.lower {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

div.expand {
    height: 100%;
}

.lower_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.lableItem {
    padding-left: 5;
    width: 50%;
    cursor: pointer;
    word-break: break-word;
    padding-bottom: 5px;
}

.lableItem input {
    border-radius: 0;
    outline: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px 10px auto auto;
    border: none;
}